<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.network.madina">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="pro.network.madina.app.AppController"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/madina"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/madina"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name="pro.network.madina.SplashActivity"
            android:theme="@style/AppThemeNowhitesplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pro.network.madina.MainActivity"
            android:theme="@style/AppThemeNowhitesplash" />
      <!--  <activity
            android:name="pro.network.madina.MainActivity"
            android:theme="@style/AppThemeNowhitemain" />-->
        <activity
            android:name="pro.network.madina.ChangePassword"
            android:theme="@style/AppTheme" />
        <activity android:name="pro.network.madina.ad.ActivityMediaOnline" />

        <activity
            android:name="pro.network.madina.cart.CartActivity"
            android:label="Cart"
            android:theme="@style/AppTheme" />
     <!--   <activity
            android:name="pro.network.madina.wishlist.WishListActivity"
            android:label="WishList"
            android:theme="@style/AppTheme" />-->
        <activity
            android:name="pro.network.madina.web.WebActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMat" />

        <activity
            android:name="pro.network.madina.AllProductActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="pro.network.madina.product.ProductActivity"
            android:label="@string/app_name_home"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="pro.network.madina.product.BannerActivity"
            android:theme="@style/AppThemeSplash" />

        <activity
            android:name="pro.network.madina.ImageZoomActivity"
            android:theme="@style/AppThemeNowhite" />
        <provider
            android:name="pro.network.madina.app.GenericFileProvider"
            android:authorities="pro.network.madina.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="pro.network.madina.app.FirebaseMessageReceiver"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>